.cardRadioButton {
  position: relative;
}

.cardRadioButton input {
  position: absolute;
  top: 4rem;
  left: 2.4rem;
  height: 16px;
  width: 16px;
}

.card {
  padding: 2.4rem;
  padding-left: 5.6rem;
  margin-bottom: 1.6rem;
  transition: all 0.3s;
}

.card h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: var(--text-color-1);
}

.inputElement + .card {
  border: 1px solid transparent;
}

.inputElement + .card:hover {
  cursor: pointer;
}

.inputElement:checked + .card {
  border: 1px solid var(--primary-color);
  -webkit-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}
.inputElement + .card p {
  display: none;
}
.inputElement:checked + .card p {
  display: block;
}
