.layout {
  display: flex;
  height: 100%;
  min-height: 100vh;
}

.innerLayout {
  background-color: #f4f8fb;
  position: relative;
}

.pageWrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.sideBar {
  display: flex;
  flex-basis: 36rem;
  width: 36rem;
  min-height: 100%;
  max-height: 100vh;
  flex-direction: column;
  color: #fff;
  justify-content: space-between;
  padding: 3.6rem;
  background-color: var(--secondary-color);
}

.sideBar h1 {
  font-size: 3.2rem;
  font-family: var(--font-family-semi-bold);
  font-weight: normal;
  line-height: 1;
  margin-bottom: 1rem;
  margin-top: 10rem;
}

.sideBar p {
  font-size: 1.4rem;
}

.sideBar > img {
  margin-top: 5rem;
}

.sideBar footer {
  font-size: 1.4rem;
  margin-top: auto;
  bottom: 3.6rem;
}

.innerSideBar {
  flex: 0 0 36rem;
  flex-direction: column;
  width: 30rem;
  position: absolute;
  top: 0%;
  bottom: 0;
  background: #ffffff;
  box-shadow: 0 2px 22px 0 rgba(131, 151, 171, 0.24);
}

.sidebarHeader {
  border-bottom: 1px solid #eeeff7;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 3.2rem;
}

.sidebarHeader button {
  height: 40px;
  width: 40px;
  border-radius: var(--border-radius);
  border-color: transparent;
  display: grid;
  background-color: #f4f8fb;
  place-items: center;
}

.clientInfo {
  margin-left: 1.6rem;
  margin-right: auto;
}

.clientInfo h3 {
  font-size: 1.6rem;
}
.clientInfo span {
  font-size: 1.2rem;
  font-family: var(--font-family-medium);
  color: #8397ab;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
  height: calc(100% - 80px);
}

.innerMain {
  width: calc(100% - 30rem);
  position: absolute;
  top: 80px;
  margin-left: 30rem;
  padding-top: 3.6rem;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* padding: 3.6rem; */
}

.main nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3.6rem;
}

.sideMenu {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

.sideMenu a {
  color: #8397ab;
  font-family: var(--font-family-semi-bold);
  font-size: 1.4rem;
  text-decoration: none;
  margin-bottom: 3.2rem;
  display: flex;
  align-items: center;
}

.sideMenu a img {
  height: 100%;
  max-height: 24px;
  margin-right: 1.6rem;
}

.header {
  height: 8rem;
  width: 100%;
  display: flex;
  padding-left: 300px;
  align-items: center;
  background-color: #fff;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerSection h1 {
  color: #8397ab;
  font-size: 2.1rem;
}

.headerSectionRight {
  display: flex;
  align-items: center;
}

.headerSectionRight button {
  width: 32px;
  height: 32px;
  margin-right: 2.4rem;
  background-color: transparent;
  border: 2px solid #8397ab50;
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
}

.container {
  width: 95%;
  max-width: 960px;
  margin: 0 auto;
}
