.statCard {
  padding: 2.4rem;
  height: 170px;
  display: flex;
  flex-direction: column;
}

.details {
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
}

.details h3 {
  font-size: 1.4rem;
  color: var(--text-color-1);
}

.details p {
  font-size: 1.4rem;
  color: var(--text-color-2);
}

.details span {
  grid-column: 2/3;
  grid-row: 1/3;
}

.amount {
  margin-top: auto;
  font-weight: normal;
  color: var(--text-color-1);
  font-family: var(--font-family-medium);
  font-size: 3.6rem;
}

.amount span {
  font-size: 2.4rem;
}
